/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/* styling of the page */
:root{
    --blue:linear-gradient(to bottom right,rgb(121, 119, 119),rgb(250, 237, 239));
}

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(--blue);
    color:white;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: white;
}

/* styling the header  */

header{
    position:relative;
    top: 0;
    left: 0;
    z-index: 1000;
    background: white;
    box-shadow:0 .1rem .3rem black;
    width: 100%;
}

header .heading{
    font-size: 3rem;
    color:gray;
    padding: 1rem;
    text-align: center;
}
header #menu{
    font-size: 3rem;
    color:gray;
    cursor: pointer;
    margin: 1rem;
    display: none;
}
header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    background: var(--blue);
    padding:1rem;
}

header .navbar ul li{
    margin: 0 1.5rem;
}

header .navbar ul li a{
    font-size: 2rem;
    font-weight: bold;
    color:black;
}

header .navbar ul li a:hover{
    color: white;
}
/* header styling ends here */


/* section styling starts here */
.home{
    position: relative;
    width: 100%;
    height: 100%;
    background-image:url("images/background-rent;.jpg");
    background-position: center;
    background-repeat: no-repeat;
    font-size: 2rem;
}
 .home .content h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
    font-family: 'Otomanopee One', sans-serif;
}
.content .right{
    height: 20px;
    width: 20px;
}
.content ul{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    
}
/*img-container styling*/
.content #home-img{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* images styling */
.content #home-img .img-home{
    height: 300px;
    width: 800px;
    margin-left: 10px;
}
/* styling paragraph */
.content #para{
    position: relative;
    width:80%;
    left:10%;
    text-align: center;
    margin-top: 2%;
    font-family: 'Playfair Display', serif;

}
/* button div */
.content #btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
/*styling button */
 .content #btn #btnclick{
    text-align: center;
    font-weight: bold;
    color: white;
    height: 30px;
    width: 150px;
    border: 0.5px solid gray;
    border-radius: 8px;
    background-image: radial-gradient(gray,black);
    cursor: pointer;
}


/* section styling ends here */


/*rent section styling starts */


.rent .rent-content h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
    font-family: 'Otomanopee One', sans-serif;
}
.rent .rent-content .rental-properties{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    
}

.rent .rent-content .rental-properties .rent-div{
    height: 355px;
    width: 304px;
    margin: 30px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
}
.rent .rent-content .rental-properties .rent-div .rent-img{
    height: 300px;
    width: 300px;
    border: 1px solid pink;
    border-radius: 5px;
}

/*rent section styling starts */


/*facilities section styling starts here*/

.facility-container .first-container{
    background-image: radial-gradient(white,white,white,rgb(204, 201, 201));
    align-content: center;
}
.facility-container .first-container h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
    font-family: 'Otomanopee One', sans-serif;
}
.facility-container .first-container p{
    position: relative;
    width:80%;
    left:10%;
    text-align: center;
    margin-top: 1%;
    padding-bottom: 1%;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;

}
.facility-container .list-container{
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
}
.facility-container .list-container .list-icons{
    height: 30px;
    width: 30px;
    margin-top: 5px;
}
.facility-container .abovecontainer{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
    background-color: rgb(44, 44, 44);
    /* height: 30rem; */
}
.facility-container .abovecontainer img{
    height: 25rem;
    margin-top: 1%;
    margin-bottom: 1%;
}
.facility-container .abovecontainer h1{
    font-size: 50px;
    font-family: 'Otomanopee One', sans-serif;
    color: silver;
    text-shadow: 2px 2px 4px #000000;
}
.facility-container .support{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.facility-container .support .query{
    height: 20rem;
    width: 15rem;
    margin: 1%;
    background-color: rgb(223, 219, 219);
    border: 0px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}
.facility-container .support .query:hover{
    height: 22rem;
    width: 16rem;
    margin: 1%;
    background-color: rgb(223, 219, 219);
    border: 0px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
}
.facility-container .support .query img{
    height: 10rem;
    width: 10rem;
    margin-top: 1rem;
    margin-left: 3rem;
}
.facility-container .support .query h3{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.facility-container .support .query p{
    font-size: 1.3rem;
    text-align: center;
    font-family:'Open Sans', sans-serif ;
}
/*facilities section styling ends here*/


/*about us section styling starts*/
.aboutus-main .container1{
    position: relative;
    text-align: center;
}
.aboutus-main .container1 img{
    width: 100%;
    height: 350px;
}

.aboutus-main .container1 h1{
    position: absolute;
    font-size: 60px;
    width: 50%;
    font-family: 'Otomanopee One', sans-serif;
    color: rgb(241, 240, 240);
    text-shadow: 2px 2px 4px #000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.aboutus-main .container1 h3{
    color: rgb(241, 240, 240);
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    font-size: 30px;
    top: 64%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.aboutus-main #team-text{
    text-align: center;
    font-size: 4rem;
    text-shadow: 2px 2px 4px black;
    font-family:'Open Sans', sans-serif ;
    color: gray;
}
.aboutus-main .container2{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to top left,white ,white,white,rgb(212, 209, 209));
}
.aboutus-main .container2 .members{
    width: 250px;
    text-align: center;
    box-shadow: 3px 3px 4px gray;
    border-left: 0.2px solid rgb(196, 194, 194);
    border-top: 0.2px solid rgb(196, 194, 194);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
    background-color: white;
}
.aboutus-main .container2 .members img{
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;

}
.aboutus-main .container2 .members h2{
    font-size: 2rem;
    margin-top: 5px;
}
.aboutus-main .container2 .members h4{
    font-size: 1.3rem;
    margin-top: 10px;
    color: gray;
}
.aboutus-main .container2 .members p{
    font-size: 1.2rem;
    margin-top: 10px;
}
.aboutus-main .container2 .members button{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 30px;
    width: 70%;
    cursor: pointer;
    background-color: black;
    columns: white;
    align-self: center;
}

.aboutus-main .container3 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.aboutus-main .container3  h1{
    font-size: 30px;
    margin-bottom: 15px;
}
.aboutus-main .container3 p{
    font-size: 15px;
}
.aboutus-main .container4{
    display: flex;
    background-image: linear-gradient(to bottom right,white ,white,white,rgb(212, 209, 209));
    /* justify-content: center;
    flex-wrap: wrap; */
}
.aboutus-main .container4 .image-container4 img{
    margin-left: -50px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 400px;
}
.aboutus-main .container4 .form-container4{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.aboutus-main .container4 form {
    padding-top: 20px;
    padding-left: 200px;
}
.aboutus-main .container4 form label{
    font-size: 15px;
}
.aboutus-main .container4 form input{
    border: 1px solid gray;
    padding: 5px;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.aboutus-main .container4 form input:hover{
    border: 2px solid black;
}
.aboutus-main .container4 form textarea{
    border: 1px solid gray;
    padding: 5px;
    width: 500px;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.aboutus-main .container4 form textarea:hover{
    border:2px solid black;
}
.aboutus-main .container4 form input[type=submit]{
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 150px;
}


/*about us section styling ends*/

/* footer styling starts */
.footer{
    background: rgb(83, 83, 83);
}
.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer .box-container .box{
    margin: 2rem;
    flex: 1 1 30rem ;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color: ivory;
}
.footer .box-container .box p{
    font-size: 1.5rem;
    color:white;
    padding: 1rem 0;
}
.footer .box-container .box a{
    font-size: 1.8rem;
    color:white;
    padding: .4rem 0;
    display: block;
}
.footer .box-container .box a:hover{
    text-decoration: underline;
}
.footer .box-container .box:nth-child(2){
    text-align: center;
}
.footer .box-container .box .mail-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
/*styling button */
.footer .box-container .box .mail-btn{
    text-align: center;
    font-weight: bold;
    color: rgb(66, 64, 64);
    height: 30px;
    width: 150px;
    border: 0.5px solid gray;
    border-radius: 8px;
    background-image: radial-gradient(gray,black);
    cursor: pointer;
}

/* footer styling ends */

/*scroll to top button*/

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-image: radial-gradient(gray,black);
    color: #fff;
    border: 0.5px solid gray;
    border-radius: 25px;
    font-weight: bold;
}
/*scroll to top button ends*/













/* media query */
@media (max-width:1063px){
    .aboutus-main .container1{
        position: relative;
        text-align: center;
    }
    .aboutus-main .container1 img{
        width: 100%;
        height: 350px;
    }
    
    .aboutus-main .container1 h1{
        position: absolute;
        font-size: 45px;
        font-family: 'Otomanopee One', sans-serif;
        color: rgb(241, 240, 240);
        text-shadow: 2px 2px 4px #000000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .aboutus-main .container1 h3{
        color: rgb(241, 240, 240);
        text-shadow: 2px 2px 4px #000000;
        position: absolute;
        font-size: 20px;
        top: 68%;
        left: 50%; 
        transform: translate(-50%, -50%);
    }   
}


@media (max-width:768px){
    
    /*home images container */
    .content #home-img{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* images styling */
    .content #home-img .img-home{
        height: 250px;
        width: 350px;
        margin-left: 20px;
    }
    /*home images container ends*/

    /*rent images container */
    .rent .rent-content h1{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 30px;
        font-family: 'Otomanopee One', sans-serif;
    }
    .rent .rent-content .rental-properties{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .rent .rent-content .rental-properties .rent-div{
        height: 255px;
        width: 204px;
        margin: 10px;
        border: 2px solid black;
        border-radius: 5px;
    }
    .rent .rent-content .rental-properties .rent-div .rent-img{
        height: 200px;
        width: 200px;
        border: 1px solid pink;
        border-radius: 5px;
    }
    /*rents images container ends*/

    /*about us starts*/
    .aboutus-main .container1{
        position: relative;
        text-align: center;
    }
    .aboutus-main .container1 img{
        width: 100%;
        height: 350px;
    }
    
    .aboutus-main .container1 h1{
        position: absolute;
        font-size: 35px;
        font-family: 'Otomanopee One', sans-serif;
        color: rgb(241, 240, 240);
        text-shadow: 2px 2px 4px #000000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .aboutus-main .container1 h3{
        color: rgb(241, 240, 240);
        text-shadow: 2px 2px 4px #000000;
        position: absolute;
        font-size: 20px;
        top: 70%;
        left: 50%; 
        transform: translate(-50%, -50%);
    }
    
    .aboutus-main .container3 {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .aboutus-main .container3  h1{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .aboutus-main .container3 p{
        font-size: 15px;
    }
    .aboutus-main .container4{
        display: flex;
        background-image: linear-gradient(to bottom right,white ,white,white,rgb(212, 209, 209));
        justify-content: center;
        flex-wrap: wrap;
    }
    .aboutus-main .container4 .image-container4 img{
         display: none;
    }
    .aboutus-main .container4 .form-container4{
        display: flex;
        flex-wrap: wrap;
    }
    .aboutus-main .container4 form {
        padding-top: 20px;
        margin-left: -190px;
    }
    .aboutus-main .container4 form label{
        font-size: 15px;
    }
    .aboutus-main .container4 form input{
        border: 1px solid gray;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        width: 300px;
    }
    .aboutus-main .container4 form input:hover{
        border: 2px solid black;
    }
    .aboutus-main .container4 form textarea{
        border: 1px solid gray;
        padding: 5px;
        height: 100px;
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
        width: 300px;
    }
    .aboutus-main .container4 form textarea:hover{
        border:2px solid black;
    }
    .aboutus-main .container4 form input[type=submit]{
        background-color: black;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        margin-left: -2px;
    }
    /*about us ends*/
    #scrollUp {
        bottom: 3px;
        right: 3px;
        padding: 5px 5px;
        background-image: radial-gradient(gray,black);
        color: #fff;
        border: 0.5px solid gray;
        border-radius: 25px;
        font-weight: bold;
    }
    
}

@media (max-width:500px){
   
    header{
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }
    header #menu{
        display:block;
    }
    header .navbar{
        position:fixed;
        top: 6.2rem;
        right: -120%;
        height: 100%;
        width: 100%;
        border-top: .2rem solid black;
    }

    header .navbar ul{
        height: 100%;
        width:100%;
        flex-flow: column;
        background: white;
        padding-bottom: 15rem;
    }

    header .navbar ul li{
        text-align: center;
        width: 100%;
        margin: 1rem 0;
    }

    header .navbar ul li a{
        font-size: 4rem;
        color: gray;
        display: block;
    }
    header .navbar ul li a:hover{
        color: var(--blue);
    }
    .fa-times{
        transform: rotate(180deg);
    }
    header .navbar.nav-toggle{
        right:0;
    }
    /*home images container */
    .content #home-img{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* images styling */
    .content #home-img .img-home{
        height: 200px;
        width: 300px;
        margin-left: 10px;
    }
    /*home images container ends


    /*rent images*/
    .rent .rent-content h1{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 30px;
        font-family: 'Otomanopee One', sans-serif;
    }
    .rent .rent-content .rental-properties{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .rent .rent-content .rental-properties .rent-div{
        height: 255px;
        width: 204px;
        margin: 30px;
        border: 2px solid black;
        border-radius: 5px;
    }
    .rent .rent-content .rental-properties .rent-div .rent-img{
        height: 200px;
        width: 200px;
        border: 1px solid pink;
        border-radius: 5px;
    }
    /*rent images end*/

    /*about us*/
    .aboutus-main .container2{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }
    .aboutus-main .container2 .members{
        width: 250px;
        text-align: center;
        margin-left: 100px;
        box-shadow: 3px 3px 4px gray;
        border-left: 0.2px solid rgb(196, 194, 194);
        border-top: 0.2px solid rgb(196, 194, 194);
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: white;
    }
    
    
    .aboutus-main .container3 {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .aboutus-main .container3  h1{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .aboutus-main .container3 p{
        font-size: 15px;
    }
    .aboutus-main .container4{
        display: flex;
        background-image: linear-gradient(to bottom right,white ,white,white,rgb(212, 209, 209));
        justify-content: center;
        flex-wrap: wrap;
    }
    .aboutus-main .container4 .image-container4 img{
        display: none;
    }
    .aboutus-main .container4 .form-container4{
        display: flex;
        flex-wrap: wrap;
    }
    .aboutus-main .container4 form {
        padding-top: 20px;
        margin-left: -190px;
    }
    .aboutus-main .container4 form label{
        font-size: 15px;
    }
    .aboutus-main .container4 form input{
        border: 1px solid gray;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        width: 300px;
    }
    .aboutus-main .container4 form input:hover{
        border: 2px solid black;
    }
    .aboutus-main .container4 form textarea{
        border: 1px solid gray;
        padding: 5px;
        height: 100px;
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
        width: 300px;
    }
    .aboutus-main .container4 form textarea:hover{
        border:2px solid black;
    }
    .aboutus-main .container4 form input[type=submit]{
        background-color: black;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        margin-left: -2px;
    }
    /*about us ends*/
    #scrollUp {
        bottom: 3px;
        right: 3px;
        padding: 5px 5px;
        background-image: radial-gradient(gray,black);
        color: #fff;
        border: 0.5px solid gray;
        border-radius: 25px;
        font-weight: bold;
    }
}
